cmake_build_tmp/
build-stamp
configure-stamp
capi-messaging-email.pc
debian/tmp/
debian/substvars/
debian/files
debian/capi-messaging-email-dbg.debhelper.log
debian/capi-messaging-email-dbg.substvars
debian/capi-messaging-email-dbg/
debian/capi-messaging-email-dev.debhelper.log
debian/capi-messaging-email-dev.substvars
debian/capi-messaging-email-dev/
debian/capi-messaging-email.debhelper.log
debian/capi-messaging-email.postinst.debhelper
debian/capi-messaging-email.postrm.debhelper
debian/capi-messaging-email.substvars
debian/capi-messaging-email/
