
Source: capi-messaging-email
Section: libs
Priority: extra
Maintainer: WonYoung Choi <wy80.choi@samsung.com>
Build-Depends: debhelper (>= 5), dlog-dev,libglib2.0-dev , libedbus-dev, capi-appfw-application-dev ,capi-base-common-dev, email-service-dev

Package: capi-messaging-email
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Email library in Tizen Native API

Package: capi-messaging-email-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-messaging-email (= ${Source-Version}) , dlog-dev,libglib2.0-dev , libedbus-dev,capi-appfw-application-dev ,capi-base-common-dev, email-service-dev
Description: Email library in Tizen Native API (DEV)

Package: capi-messaging-email-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-messaging-email (= ${Source-Version})
Description: Email library in Tizen Native API (DBG)

